.login-title {
  font-weight: 900;
  font-size: 50px;
}

.login-image-container{
  background-image: url("/assets/images/login.png");
}

.submit-button {
  color: black;
  padding: 7px;
  border-radius: 7px;
  // border: 1px solid blue;
}
