
    <header class="main-header">
        <nav class="nav-container">
            <div class="logo">FIRSTNEWS<span>.com</span></div>
        </nav>
    </header>

    <main class="news-wrapper">
        
        <article class="card">
            <div class="white-box"></div>
            <p class="caption">
                Casas de empeño ganan terreno por falta de regulación y crisis económica 
                <span class="more">leer más...</span>
            </p>
        </article>

        <article class="card">
            <div class="white-box"></div>
            <p class="caption">
                Nueva tendencia en tecnología: el impacto de la IA en la educación 
                <span class="more">leer más...</span>
            </p>
        </article>

    </main>