<html>
  <html lang="en">
  <head>
    <link rel="stylesheet" href="register.component.scss">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
  </head>
  <body>


  <div class="Square">

  <div class="inputs">
    <h1>E-Mail:</h1>

    <input type="E-mail">

    <h1>Password</h1>

    <input type="Password">
    <h1>Password confirm</h1>
    <input type="Password">

    <h6 class="linktolog">if you have an account
      <a href="Login here">
        Login here
      </a>

    </h6>
      

    

  </div>



    <button> <span class="material-symbols-outlined">
how_to_reg
</span> Submit 
      
    </button>


    <div class="avisusimg">
    <img src="/assets/Se avisa que1.jpg" alt="">


    </div>
  




  </div>
  </body>
</html>

